Repository lsh4711/plip, pull requests merged in 2023-07, with the labels that each got.

#34 [Server][FEAT] 회원가입 API 작성
  server/build.gradle
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/mapper/MemberMapper.java
  server/src/main/java/com/server/domain/member/repository/MemberRepository.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server, MEM

#35 [Server][FEAT] 이메일 인증 API 작성
  server/build.gradle
  server/src/main/java/com/server/domain/mail/controller/MailController.java
  server/src/main/java/com/server/domain/mail/dto/MailDto.java
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/resources/application.yml
  server/src/main/resources/templates/email.html
  server/src/test/java/com/server/mail/controller/MailControllerTest.java
Labels: feat, Server, MEM

#36 Be/feat/global
  server/build.gradle
  server/src/main/java/com/server/ServerApplication.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/dto/TestDto.java
  server/src/main/java/com/server/domain/test/entity/Test.java
  server/src/main/java/com/server/domain/test/mapper/TestMapper.java
  server/src/main/java/com/server/domain/test/repository/TestRepository.java
  server/src/main/java/com/server/domain/test/service/TestService.java
  server/src/main/java/com/server/global/audit/BaseEntity.java
  server/src/main/java/com/server/global/exception/CustomException.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/exception/GlobalExceptionHandler.java
  server/src/main/java/com/server/global/response/Response.java
  server/src/main/java/com/server/global/utils/UriCreator.java
Labels: Server

#46 Fe/dev
  client/index.html
  client/public/favicon.svg
  client/public/logo.svg
  client/src/App.tsx
  client/src/components/common/SideBar.tsx
  client/src/components/map/Map.tsx
  client/src/custom.d.ts
  client/src/main.tsx
  client/src/pages/FootPrintPage.tsx
  client/src/pages/Home.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/NotFound.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanPage.tsx
  client/tailwind.config.js
  client/vite.config.ts
Labels: Client

#37 [Server][REFACTOR] 회원가입 API 공통 모듈로 리팩토링
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
Labels: Server, MEM, refactor

#57 [Server][FEAT] 여행일지 API 작성
  .github/ISSUE_TEMPLATE/seb-44-main-project-12-backend-feature-template.md
  .github/ISSUE_TEMPLATE/seb-44-main-project-12-fe-feature-template.md
  .github/pull_request_template.md
  server/build.gradle
  server/src/main/java/com/server/domain/mail/controller/MailController.java
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/record/ImageManager.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/dto/ImageResponseDto.java
  server/src/main/java/com/server/domain/record/dto/RecordDto.java
  server/src/main/java/com/server/domain/record/entity/Record.java
  server/src/main/java/com/server/domain/record/mapper/RecordMapper.java
  server/src/main/java/com/server/domain/record/repository/RecordRepository.java
  server/src/main/java/com/server/domain/record/service/RecordService.java
  server/src/main/java/com/server/global/dto/SingleResponseDto.java
  server/src/main/java/com/server/global/exception/BusinessLogicException.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/response/ErrorResponse.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
Labels: feat, Server, TRP

#56 [Client/Server][FEAT] Header 공통 컴포넌트 구현
  client/package-lock.json
  client/package.json
  client/src/assets/icons/arrow-down.svg
  client/src/assets/icons/mypage.svg
  client/src/assets/icons/notification.svg
  client/src/assets/icons/profile.svg
  client/src/assets/imgs/gyeonggi.jpg
  client/src/assets/logo.svg
  client/src/assets/plip.svg
  client/src/components/common/Header.tsx
  client/vite.config.ts
  client/yarn.lock
Labels: feat, Client, Page

#59 [Client/Server][BugFix] Paragraph 컴포넌트 cva 문제
  client/src/components/atom/Paragraph.tsx
Labels: bug, Client

#67 [Client/Server][FEAT] 랜딩페이지
  client/index.html
  client/src/App.tsx
  client/src/assets/imgs/gyeonggi.jpg
  client/src/assets/imgs/gyeonggi.webp
  client/src/assets/imgs/광안대교.webp
  client/src/assets/imgs/서울.webp
  client/src/assets/imgs/제주도.webp
  client/src/components/atom/Button.tsx
  client/src/components/atom/Paragraph.tsx
  client/src/components/common/Header.tsx
  client/src/pages/Home.tsx
  client/src/styles/animation.css
  client/src/styles/global.css
Labels: feat, Client, Page

#71 [Client][FEAT] 여행지, 여행 날짜 작성 페이지 UI 작업
  client/package.json
  client/public/region/busan.webp
  client/public/region/chungbuk.webp
  client/public/region/chungnam.webp
  client/public/region/daegu.webp
  client/public/region/daejeon.webp
  client/public/region/gangwon.webp
  client/public/region/gyeongbuk.webp
  client/public/region/gyeonggi.webp
  client/public/region/gyeongnam.webp
  client/public/region/incheon.webp
  client/public/region/jeju.webp
  client/public/region/jeonbuk.webp
  client/public/region/jeonnam.webp
  client/public/region/seoul.webp
  client/public/region/ulsan.webp
  client/src/components/atom/Button.tsx
  client/src/components/common/DatePicker.tsx
  client/src/components/common/Header.tsx
  client/src/components/common/RegionCard.tsx
  client/src/datas/regions.ts
  client/src/pages/PlanPage.tsx
  client/yarn.lock
Labels: feat, Client, TRP, Page

#72 [Server][FEAT] 회원 RUD API 구현
  server/build.gradle
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/mapper/MemberMapper.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/global/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/server/global/auth/handler/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/server/global/auth/handler/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server, MEM

#73 [Server][CI] 배포 세팅
  .github/workflows/aws.yml
  appspec.yml
  scripts/deploy.sh
  server/build.gradle
  server/src/main/java/com/server/domain/mail/controller/MailController.java
  server/src/main/java/com/server/domain/mail/dto/AuthMailCodeDto.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/place/controller/PlaceController.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/dto/RecordDto.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application.yml
  server/src/main/resources/aws.p12
  server/src/main/resources/images/1/1/image1.png
  server/src/main/resources/images/1/1/image2.png
  server/src/main/resources/static/cute.gif
  server/src/main/resources/templates/test.html
  server/src/test/java/com/server/mail/controller/MailControllerTest.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/resources/application.yml
Labels: Server

#75 [Client/Server][FIX] 랜딩페이지 첫 로드시 깜박임 버그 수정
  client/src/styles/global.css
Labels: bug, Client

#74 [Client][FEAT] Mypage/myrecord 나의 일지 UI 기능 및 api type 정의
  .github/ISSUE_TEMPLATE/seb-44-main-project-12-backend-feature-template.md
  .github/ISSUE_TEMPLATE/seb-44-main-project-12-fe-feature-template.md
  .github/pull_request_template.md
  client/src/App.tsx
  client/src/components/atom/CenteringWrapper.tsx
  client/src/components/index.ts
  client/src/main.tsx
  client/src/pages/FindPassword.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/pages/SignUpPage.tsx
Labels: feat, Client

#77 [Client][FEAT] 드롭다운 메뉴 구현
  client/src/App.tsx
  client/src/assets/icons/arrow-down.svg
  client/src/assets/icons/bookmark.svg
  client/src/assets/icons/logout.svg
  client/src/assets/icons/myrecord.svg
  client/src/assets/icons/mytrace.svg
  client/src/assets/icons/mytrip.svg
  client/src/assets/icons/octoface.svg
  client/src/components/common/DropDownMenus.tsx
  client/src/components/common/Header.tsx
  client/src/components/common/Providers.tsx
  client/src/datas/menus.tsx
  client/src/hooks/useCloseDropdown.tsx
  client/src/main.tsx
  client/src/pages/Bookmark.tsx
  client/src/pages/Home.tsx
  client/src/stores/store.ts
Labels: feat, Client

#76 [Server][Other] Swagger 인증 처리 추가
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server, MEM

#79 [Server][CI/CD] 배포 설정
  server/build.gradle
  server/src/main/java/com/server/domain/place/controller/PlaceController.java
  server/src/main/java/com/server/domain/place/dto/PlaceResponse.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/dto/RecordDto.java
  server/src/main/java/com/server/domain/record/entity/Record.java
  server/src/main/java/com/server/domain/record/mapper/RecordMapper.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/entity/SchedulePlace.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
  server/src/test/resources/application.yml
Labels: Server

#82 [Server][Changes] 클라이언트 요청 반영, yml 위치 변경, init 적용시점 분리
  server/src/main/java/com/server/domain/schedule/dto/ScheduleDto.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/server/ServerApplicationTests.java
  server/src/test/java/com/server/mail/controller/MailControllerTest.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/place/controller/PlaceControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/resources/images/1/1/image1.png
  server/src/test/resources/images/1/1/image2.png
Labels: Server

#81 [Server][FEAT] 소셜 로그인 구현(네이버, 카카오)
  server/build.gradle
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/mapper/MemberMapper.java
  server/src/main/java/com/server/global/auth/handler/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/java/com/server/global/auth/userdetails/OAuthAttributes.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
Labels: feat, Server, MEM

#83 [Server][CI] 배포 설정
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/init/Init.java
Labels: Server

#80 [Client/Server][FEAT] FindPassword Page and Signout Page UI and not merged features
  client/src/components/atom/Image.tsx
  client/src/components/common/MyrecordImg.tsx
  client/src/components/helper/MypageSideNav.tsx
  client/src/components/helper/OauthUI.tsx
  client/src/components/helper/SortingToolbar.tsx
  client/src/components/index.ts
  client/src/main.tsx
  client/src/pages/FindPassword.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/pages/ResetPasswordPage.tsx
  client/src/pages/SignOutPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/queries/useRestPasswordMutation.tsx
  client/src/queries/useSignoutMutation.tsx
  client/src/types/api/email-types.ts
  client/src/types/api/places-types.ts
  client/src/types/api/records-types.ts
  client/src/types/api/schedules-types.ts
  client/src/types/api/users-types.ts
  client/src/types/type.ts
Labels: feat, Client

#89 [Client][FEAT] 여행 날짜, 여행지 선택 기능
  client/src/components/atom/Backdrop.tsx
  client/src/components/atom/Button.tsx
  client/src/components/atom/HeadingParagraph.tsx
  client/src/components/common/Confirm.tsx
  client/src/components/common/DatePicker.tsx
  client/src/components/common/Dialog/DialogButtonGroup.tsx
  client/src/components/common/Dialog/DialogContainer.tsx
  client/src/components/common/Dialog/index.ts
  client/src/components/ui/ModalRenderer.tsx
  client/src/contexts/modal/ModalContext.tsx
  client/src/contexts/modal/ModalProvider.tsx
  client/src/hooks/useModal.tsx
  client/src/main.tsx
  client/src/pages/PlanPage.tsx
  client/src/redux/slices/index.ts
  client/src/redux/store.ts
  client/src/utils/getDayOfWeek.ts
  client/src/utils/getFormatDateString.ts
  client/src/utils/getTripPeriod.ts
  client/src/utils/getTripTitleWithRegion.ts
Labels: feat, Client, TRP

#90 [Client][FEAT] 사이드 패널
  client/package.json
  client/src/components/atom/Button.tsx
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/common/SidePanel.tsx
  client/src/components/common/SideToggleButton.tsx
  client/src/components/common/TripInfo.tsx
  client/src/components/common/TripSchedule.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/styles/animation.css
  client/yarn.lock
Labels: feat, Client, TRP

#84 [Client][FEAT] 마이페이지
  client/src/assets/icons/camera.svg
  client/src/assets/icons/check.svg
  client/src/assets/icons/close.svg
  client/src/assets/icons/edit.svg
  client/src/components/atom/Button.tsx
  client/src/components/common/Avatar.tsx
  client/src/components/common/Header.tsx
  client/src/datas/constants.ts
  client/src/pages/MyPage.tsx
  client/src/pages/SignUpPage.tsx
  package.json
  yarn.lock
Labels: feat, Client

#91 [Client][BugFIx] not valid import bug
  client/src/main.tsx
Labels: bug, Client

#92 [Client][FEAT] Side Panel 너비 수정
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/common/SidePanel.tsx
  client/src/components/common/SideToggleButton.tsx
  client/src/components/common/TripInfo.tsx
  client/src/components/common/TripSchedule.tsx
Labels: Client, TRP, refactor

#93 [Client][OTHER] 디자인, import 정리, conflict으로 인한 버그 해결
  client/src/components/common/Confirm.tsx
  client/src/components/common/RegionCard.tsx
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/common/TripInfo.tsx
  client/src/pages/PlanPage.tsx
  client/src/utils/date/getDayOfWeek.ts
  client/src/utils/date/getFormatDateString.ts
  client/src/utils/date/getTripPeriod.ts
  client/src/utils/date/getTripTitleWithRegion.ts
  client/src/utils/date/index.ts
Labels: Client, refactor

#94 [Client][FIX] 사이드패널 포지션 수정
  client/src/components/common/SidePanel.tsx
Labels: bug, Client, TRP

#95 [Client/Server][FEAT] Error 메시지 재정의
  server/build.gradle
  server/src/main/java/com/server/domain/mail/dto/AuthMailCodeDto.java
  server/src/main/java/com/server/domain/mail/dto/MailDto.java
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/token/service/RefreshTokenService.java
  server/src/main/java/com/server/global/auth/error/AuthenticationError.java
  server/src/main/java/com/server/global/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/server/global/auth/handler/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/server/global/auth/handler/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/utils/AccessTokenRenewalUtil.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/exception/GlobalExceptionHandler.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server, MEM

#98 [Server][Test] 테스트 수정
  server/build.gradle
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/jwt/DelegateTokenUtil.java
  server/src/main/java/com/server/global/auth/userdetails/MemberDetails.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: Server

#96 [Client][FEAT] 카카오 맵 구현, 마커 찍기, 마커 연결, 주변 마커 클러스터링 구현
  client/index.html
  client/package.json
  client/src/components/common/Header.tsx
  client/src/components/common/SidePanel.tsx
  client/src/datas/regions.ts
  client/src/main.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanPage.tsx
  client/tsconfig.json
  client/yarn.lock
Labels: feat, Client

#99 [Server][Changes] 리팩토링
  server/build.gradle
  server/src/main/java/com/server/domain/place/dto/PlaceDto.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/record/ImageManager.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/repository/RecordRepository.java
  server/src/main/java/com/server/domain/record/service/RecordService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleDto.java
  server/src/main/java/com/server/domain/schedule/service/SchedulePlaceService.java
  server/src/main/java/com/server/global/exception/BusinessLogicException.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/utils/CustomUtil.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: Server

#102 [Server][FEAT] 쿠키 생성, 비밀번호 재설정 API 작성
  server/src/main/java/com/server/domain/mail/controller/MailController.java
  server/src/main/java/com/server/domain/mail/service/AuthMailCodeService.java
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/member/mapper/MemberMapper.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/global/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationSuccessHandler.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutHandler.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutSuccessHandler.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/utils/AccessTokenRenewalUtil.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/resources/templates/pw.html
  server/src/main/resources/templates/signup.html
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/mail/controller/MailControllerTest.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server, MEM

#108 [Server][FEAT] 카테고리, 일정 api 추가 및 기타 리팩토링
  server/src/main/java/com/server/domain/category/entity/Category.java
  server/src/main/java/com/server/domain/category/repository/CategoryRepository.java
  server/src/main/java/com/server/domain/category/service/CategoryService.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/place/controller/PlaceController.java
  server/src/main/java/com/server/domain/place/dto/PlaceDto.java
  server/src/main/java/com/server/domain/place/dto/PlaceResponse.java
  server/src/main/java/com/server/domain/place/entity/Place.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/repository/RecordRepository.java
  server/src/main/java/com/server/domain/record/service/RecordService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/entity/SchedulePlace.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/repository/SchedulePlaceRepository.java
  server/src/main/java/com/server/domain/schedule/repository/ScheduleRepository.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutSuccessHandler.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/ArrayHashMap.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/test/java/com/server/helper/StubData.java
Labels: feat, Server

#106 [Server][FEAT] logout시 토큰 무력화
  server/src/main/java/com/server/domain/token/service/RedisUtils.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutHandler.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/config/RedisConfig.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
Labels: feat, Server, MEM

#100 [Client][FEAT] 일지 작성 모달 UI
  client/src/assets/icons/plus-circle.svg
  client/src/components/atom/Backdrop.tsx
  client/src/components/common/Dialog/DialogContainer.tsx
  client/src/components/common/WriteModal.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/styles/global.css
Labels: feat, Client, TRP

#104 [Client][FEAT] useToast 구현 및 Axios 마이그레이션 / loginsignup 로직 개선
  client/.env
  client/.gitignore
  client/index.html
  client/package.json
  client/src/App.tsx
  client/src/components/atom/LoadingSpinner.tsx
  client/src/components/common/Header.tsx
  client/src/components/common/Providers.tsx
  client/src/components/forms/LoginForm.tsx
  client/src/components/forms/SignupForm.tsx
  client/src/components/helper/ErrorFallback.tsx
  client/src/components/helper/OauthUI.tsx
  client/src/components/ui/toast/ToastContainer.tsx
  client/src/components/ui/toast/ToastItem.tsx
  client/src/hooks/useDebounce.tsx
  client/src/hooks/useEmailValidation.tsx
  client/src/hooks/useError.tsx
  client/src/hooks/useInstance.tsx
  client/src/hooks/useToast.tsx
  client/src/hooks/useTypeSelector.tsx
  client/src/main.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/queries/BASE_URL.ts
  client/src/queries/axiosinstance.ts
  client/src/queries/index.ts
  client/src/queries/useEmailRequestMutation.tsx
  client/src/queries/useEmailValidationMutation.tsx
  client/src/queries/useLoginMutation.tsx
  client/src/queries/useResetPasswordMutation.tsx
  client/src/queries/useRestPasswordMutation.tsx
  client/src/queries/useSignoutMutation.tsx
  client/src/queries/useSignupMutation.tsx
  client/src/redux/createToastAsyncThunk.ts
  client/src/redux/slices/authSlice.ts
  client/src/redux/slices/index.ts
  client/src/redux/slices/toastSlice.ts
  client/src/redux/store.ts
  client/src/schema/loginSchema.ts
  client/src/schema/resetPasswordSchema.ts
  client/src/schema/signupSchema.ts
  client/src/utils/toastObjectCreator.ts
  client/vite.config.ts
  client/yarn.lock
Labels: feat, Client

#110 [Client][FEAT] 일정 작성 페이지에 필요한 UI 컴포넌트 작업
  client/package.json
  client/src/components/atom/Paragraph.tsx
  client/src/components/common/RoundButton.tsx
  client/src/components/common/SidePanel.tsx
  client/src/components/map/CategoryButtonGroup.tsx
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/InfoWindow/SelectDayButton.tsx
  client/src/components/map/InfoWindow/index.ts
  client/src/components/map/Map.tsx
  client/src/components/map/MenuButtons.tsx
  client/src/components/map/SearchResult.tsx
  client/src/components/map/SearchTools.tsx
  client/src/components/map/ZoomButtons.tsx
  client/src/components/map/index.ts
  client/src/datas/categories.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/types/mapApi/place-types.ts
  package.json
  yarn.lock
Labels: feat, Client, MAP

#112 [Client][FEAT] 페이지 별 폴더링
  client/src/components/page-components/index.ts
  client/src/components/page-components/mypage/index.ts
  client/src/components/page-components/plan-map/index.ts
  client/src/components/page-components/plan/index.ts
Labels: Client

#114 [Server][FEAT] (알림)메세지 예약 전송 기능
  .github/workflows/aws.yml
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/test/auth/KakaoAuth.java
  server/src/main/java/com/server/domain/test/auth/Token.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/entity/Test.java
  server/src/main/java/com/server/domain/test/repository/TestRepository.java
  server/src/main/java/com/server/domain/test/service/KakaoService.java
  server/src/main/java/com/server/domain/test/service/TestService.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/doc/DocController.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/main/resources/templates/test.html
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server

#116 [Server][FEAT] (알림)메세지 예약 전송 기능
  .github/workflows/aws.yml
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/test/auth/KakaoAuth.java
  server/src/main/java/com/server/domain/test/auth/Token.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/entity/Test.java
  server/src/main/java/com/server/domain/test/repository/TestRepository.java
  server/src/main/java/com/server/domain/test/service/KakaoService.java
  server/src/main/java/com/server/domain/test/service/TestService.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/config/CustomFilterConfig.java
  server/src/main/java/com/server/global/doc/DocController.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/main/resources/templates/test.html
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
Labels: feat, Server

#111 [Client][FEAT] logout, resetpassword 로직 구현 및 전체적인 리팩토링
  client/src/App.tsx
  client/src/assets/imgs/gyeonggi.webp
  client/src/assets/imgs/광안대교.webp
  client/src/assets/imgs/서울.webp
  client/src/assets/imgs/제주도.webp
  client/src/components/common/Header.tsx
  client/src/components/common/Wrapper.tsx
  client/src/components/helper/ErrorFallback.tsx
  client/src/components/ui/toast/ToastItem.tsx
  client/src/hooks/useInstance.tsx
  client/src/pages/FootPrintPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanPage.tsx
  client/src/pages/ResetPasswordPage.tsx
  client/src/queries/axiosinstance.ts
  client/src/queries/useEmailRequestMutation.tsx
  client/src/queries/useEmailValidationMutation.tsx
  client/src/queries/useLoginMutation.tsx
  client/src/queries/useLogoutMutation.tsx
  client/src/queries/useResetPasswordMutation.tsx
  client/src/redux/slices/authSlice.ts
  client/src/schema/resetPasswordSchema.ts
Labels: bug, feat, Client, refactor

#121 [Server][FEAT] 카카오 토큰 저장 및 리팩토링
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/repository/KakaoTokenRepository.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/utils/OAuth2TokenUtils.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/resources/application.yml
Labels: feat, Server, MEM

#122 [Server][FEAT] Access Token 재발급 및 리팩토링
  server/src/main/java/com/server/domain/token/controller/TokenController.java
  server/src/main/java/com/server/global/auth/error/AuthenticationError.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutHandler.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/token/controller/TokenControllerTest.java
Labels: feat, Server, MEM

#127 [Client][FEAT] 장소 키워드 검색, 장소 카테고리 검색 기능
  client/package.json
  client/src/components/map/SearchResult.tsx
  client/src/components/map/SearchTools.tsx
  client/src/hooks/useIntersectionObserver.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/queries/search/useKeywordSearchQuery.tsx
  client/src/types/mapApi/place-types.ts
  client/yarn.lock
Labels: feat, Client, MAP

#128 [Client][FEAT] plan <-> planmap 페이지 연결, 지도 초기 셋팅
  client/public/region/chungbuk.webp
  client/public/region/chungnam.webp
  client/public/region/daejeon.webp
  client/public/region/gangwon.webp
  client/public/region/gwangju.webp
  client/public/region/gyeonggi.webp
  client/public/region/gyeongnam.webp
  client/public/region/incheon.webp
  client/public/region/jeju.webp
  client/public/region/jeonbuk.webp
  client/public/region/jeonnam.webp
  client/public/region/seoul.webp
  client/public/region/ulsan.webp
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/common/TripInfo.tsx
  client/src/components/common/TripSchedule.tsx
  client/src/components/map/Map.tsx
  client/src/datas/regions.ts
  client/src/main.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanPage.tsx
  client/src/queries/plan/index.ts
  client/src/queries/plan/usePlanMutation.tsx
  client/src/queries/plan/usePlanQuery.tsx
  client/src/types/api/schedules-types.ts
  client/src/utils/date/getFormatDateString.ts
  client/src/utils/map/getRegionCenterLat.ts
  client/src/utils/map/getRegionCenterLng.ts
  client/src/utils/map/index.ts
  client/src/utils/parsePlanId.ts
Labels: feat, Client, MAP

#130 [Server][Test] 테스트 코드 및 문서 수정, 클라이언트 요구사항 반영
  .github/workflows/aws.yml
  server/build.gradle
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/place/dto/PlaceDto.java
  server/src/main/java/com/server/domain/place/dto/PlaceResponse.java
  server/src/main/java/com/server/domain/place/entity/Place.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/service/S3StorageService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleDto.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Notification.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/entity/Notification.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/java/com/server/global/log/LogController.java
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/mail/controller/MailControllerTest.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/place/controller/PlaceControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
  server/src/test/java/com/server/token/controller/TokenControllerTest.java
Labels: Server

#129 [Client][FEAT] 일지 작성 기능 구현
  client/package.json
  client/src/assets/icons/close.svg
  client/src/components/common/DropDownMenus.tsx
  client/src/components/common/Header.tsx
  client/src/components/common/WriteModal.tsx
  client/src/components/ui/toast/ToastItem.tsx
  client/src/datas/constants.ts
  client/src/datas/map-constants.ts
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/queries/RecordAPI.ts
  client/src/queries/axiosinstance.ts
  client/src/queries/useLoginMutation.tsx
  client/src/styles/global.css
  client/src/utils/file/resizeFile.ts
  client/tsconfig.json
  client/yarn.lock
Labels: feat, Client, MAP

#131 [Client][REFACTOR] 일지 작성 로딩 컴포넌트 구현, react-query로 요청부분 리팩토링
  client/src/components/common/Header.tsx
  client/src/components/common/WriteModal.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/queries/RecordAPI.ts
  client/src/queries/record/useCreateRecordMutation.tsx
Labels: Client, refactor

#137 [Server][FIX] Oauth, 토큰 재발급 테스트
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
Labels: bug, Server, MEM

#138 [Client][FEAT] 일정별 마커(색상) 표시, 마커 폴리라인 연결, 마커 클릭 시 인포윈도우, 검색 결과 마커 표시, 일정 등록 및 저장 기능
  client/public/marker/marker0.webp
  client/public/marker/marker1.webp
  client/public/marker/marker10.webp
  client/public/marker/marker11.webp
  client/public/marker/marker12.webp
  client/public/marker/marker13.webp
  client/public/marker/marker14.webp
  client/public/marker/marker2.webp
  client/public/marker/marker3.webp
  client/public/marker/marker4.webp
  client/public/marker/marker5.webp
  client/public/marker/marker6.webp
  client/public/marker/marker7.webp
  client/public/marker/marker8.webp
  client/public/marker/marker9.webp
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/common/TripSchedule.tsx
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/InfoWindow/SelectDayButton.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/SearchResult.tsx
  client/src/components/map/SearchTools.tsx
  client/src/datas/categories.tsx
  client/src/datas/dummySchedule.ts
  client/src/datas/map-constants.ts
  client/src/pages/PlanMapPage.tsx
  client/src/queries/plan/index.ts
  client/src/queries/plan/useEditPlanMutation.tsx
  client/src/queries/plan/usePlanQuery.tsx
  client/src/queries/search/useKeywordSearchQuery.tsx
  client/src/redux/slices/scheduleSlice.ts
  client/src/redux/slices/searchPlaceSlice.ts
  client/src/redux/store.ts
  client/src/types/api/schedules-types.ts
Labels: feat, Client, MAP

#140 [Server][FEAT] 회원가입 시 메일 전송
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/resources/templates/pw.html
  server/src/main/resources/templates/signup.html
  server/src/main/resources/templates/welcome.html
Labels: feat, Server, MEM

#124 [Client][Fix] 회원가입 템플릿 오류 수정
  client/src/queries/useEmailRequestMutation.tsx
Labels: bug, MEM, Client

#141 [Client][FEAT] 나의 일정 페이지 누락된 Default 이미지 기능 추가
  client/public/dummy/mytrip-dummy.json
  client/src/components/page-components/mytrip/MyTripCard.tsx
  client/src/pages/MyTripPage.tsx
  client/src/types/mytrip/mytrip-types.ts
Labels: feat, Client, TRP

#142 [Server][FEAT] 공유 api 인증 권한 해제
  server/src/main/java/com/server/global/config/SecurityConfig.java
Labels: feat, Server, MEM

#143 [Server][FEAT] 다른 도메인에서도 쿠키 발행
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
Labels: feat, Server, MEM

#144 [Client][FIX] 일정 저장 기능 보완 및 버그 수정
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/Map.tsx
  client/src/datas/dummySchedule.ts
  client/src/pages/FootPrintPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/queries/plan/useEditPlanMutation.tsx
  client/src/redux/slices/scheduleSlice.ts
  client/src/types/api/schedules-types.ts
Labels: bug, Client, MAP

#147 [Server][FEAT] 알림 기능 초기구현(Batch, Scheduler)
  scripts/deploy.sh
  server/build.gradle
  server/src/main/java/com/server/ServerApplication.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/repository/KakaoTokenRepository.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/place/dto/PlaceDto.java
  server/src/main/java/com/server/domain/place/dto/PlaceResponse.java
  server/src/main/java/com/server/domain/place/entity/Place.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleDto.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/repository/ScheduleRepository.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/domain/test/auth/KakaoAuth.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/dto/Body.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/batch/BatchScheduler.java
  server/src/main/java/com/server/global/batch/job/ChunkConfig.java
  server/src/main/java/com/server/global/batch/job/TaskletConfig.java
  server/src/main/java/com/server/global/batch/parameter/CustomJobParameter.java
  server/src/main/java/com/server/global/batch/tasklet/BatchTasklet.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/GlobalExceptionHandler.java
  server/src/main/java/com/server/global/file/FileController.java
  server/src/main/java/com/server/global/file/FileService.java
  server/src/main/java/com/server/global/init/ArrayHashMap.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: Server

#148 [Client][BugFix] Oauth 로그인 관련 핫픽스
  client/src/pages/OauthRedirect.tsx
Labels: bug

#150 [Client][FEAT] 지도 기능 향상
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/SearchResult.tsx
  client/src/components/map/SearchTools.tsx
  client/src/hooks/useMapBounds.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/queries/search/useKeywordSearchQuery.tsx
  client/src/redux/slices/placeSlice.ts
  client/src/redux/slices/searchPlaceSlice.ts
  client/src/redux/store.ts
  client/src/utils/map/getDistanceByLatLng.ts
  client/src/utils/map/index.ts
Labels: feat, Client, MAP

#149 [Server][FEAT] 일정 추가 시 메일 전송 및 오류 수정
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/repository/KakaoTokenRepository.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/place/entity/Place.java
  server/src/main/java/com/server/domain/record/entity/Record.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/entity/SchedulePlace.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/utils/AccessTokenRenewalUtil.java
  server/src/main/java/com/server/global/utils/MailUtils.java
  server/src/main/resources/application.yml
  server/src/main/resources/templates/schedule.html
Labels: bug, feat, Server, MEM

#153 [Server][FEAT] 일정 응답 수정 및 기타 엔티티 수정
  server/src/main/java/com/server/domain/category/service/CategoryService.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/place/controller/PlaceController.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/record/mapper/RecordMapper.java
  server/src/main/java/com/server/domain/region/entity/Region.java
  server/src/main/java/com/server/domain/region/repository/RegionRepository.java
  server/src/main/java/com/server/domain/region/service/RegionService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleShareResponse.java
  server/src/main/java/com/server/domain/schedule/entity/Schedule.java
  server/src/main/java/com/server/domain/schedule/entity/SchedulePlace.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/service/SchedulePlaceService.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/domain/test/auth/KakaoAuth.java
  server/src/main/java/com/server/global/init/ArrayHashMap.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/place/controller/PlaceControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: Server, refactor

#155 [Server][FEAT] 회원 등록 알림 메시지 추가 및 오류 수정
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/oauth/service/KakaoApiService.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateConstructor.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateObject.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/SharedScheduleResponse.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/domain/test/auth/KakaoAuth.java
  server/src/main/java/com/server/domain/test/auth/Token.java
  server/src/main/java/com/server/domain/test/controller/TestController.java
  server/src/main/java/com/server/domain/test/dto/TestDto.java
  server/src/main/java/com/server/domain/test/entity/Notification.java
  server/src/main/java/com/server/domain/test/entity/Test.java
  server/src/main/java/com/server/domain/test/mapper/TestMapper.java
  server/src/main/java/com/server/domain/test/repository/TestRepository.java
  server/src/main/java/com/server/domain/test/service/KakaoService.java
  server/src/main/java/com/server/domain/test/service/TestService.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/java/com/server/global/batch/BatchScheduler.java
  server/src/main/java/com/server/global/batch/job/ChunkConfig.java
  server/src/main/java/com/server/global/file/FileController.java
  server/src/main/java/com/server/global/file/FileService.java
  server/src/main/java/com/server/global/test/controller/TestController.java
  server/src/main/java/com/server/global/utils/CustomUtil.java
Labels: feat, Server

#151 [Client][Refactor] import 리팩토링 및 auth 관심사분리
  client/src/components/forms/ResetPasswordForm.tsx
  client/src/components/forms/SignoutForm.tsx
  client/src/datas/constants.ts
  client/src/pages/FootPrintPage.tsx
  client/src/pages/Home.tsx
  client/src/pages/LoadingPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/NotFound.tsx
  client/src/pages/OauthRedirect.tsx
  client/src/pages/ResetPasswordPage.tsx
  client/src/pages/SignOutPage.tsx
  client/src/queries/auth/useGetAccessTokenQuery.tsx
  client/src/redux/slices/authSlice.ts
  client/src/schema/signoutSchema.ts
  client/src/utils/auth/index.ts
  client/src/utils/auth/loginLocalStorage.ts
Labels: Client, refactor

#154 [Client][FEAT] 일정 편집 기능
  client/package.json
  client/src/components/common/ScheduleAccordion.tsx
  client/src/components/schedule/ScheduleAccordion.tsx
  client/src/components/schedule/TripInfo.tsx
  client/src/components/schedule/TripSchedule.tsx
  client/src/components/schedule/accordion-content/BlankContent.tsx
  client/src/components/schedule/accordion-content/Content.tsx
  client/src/components/schedule/accordion-content/DndContents.tsx
  client/src/components/schedule/accordion-content/EditmodeContent.tsx
  client/src/components/schedule/accordion-content/index.ts
  client/src/components/schedule/index.ts
  client/src/pages/PlanMapPage.tsx
  client/src/redux/slices/scheduleSlice.ts
  client/yarn.lock
Labels: feat, Client, TRP

#157 [Client][FEAT] 나의 일정 페이지 일정 수정, 삭제 기능 구현 및 일정 이름 변경 기능 구현
  client/src/components/common/modals/WriteModal.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/RecordOverray.tsx
  client/src/components/map/SearchResult.tsx
  client/src/components/page-components/mytrip/GridItem.tsx
  client/src/components/page-components/mytrip/MyTripCard.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/queries/ScheduleAPI.ts
  client/src/queries/mytrip/useEditTripTitleMutation.tsx
  client/src/queries/mytrip/useMyTripQuery.tsx
  client/src/queries/mytrip/useRemoveTripMutation.tsx
  client/src/types/api/schedules-types.ts
  client/src/types/mytrip/mytrip-types.ts
  client/src/utils/date/getDday.ts
Labels: feat, Client, TRP

#159 [Client][FIX] 일정 저장 후 내비게이트 경로, 페이지 재접속 시 검색 결과가 남아있는 버그 해결
  client/src/components/map/SearchResult.tsx
  client/src/pages/PlanMapPage.tsx
Labels: bug, Client, MAP

#162 [Server][FEAT] Refresh Token 만료됐을 때 에러 핸들링
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/token/controller/TokenController.java
  server/src/main/java/com/server/global/auth/filter/JwtAuthenticationFilter.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/utils/AccessTokenRenewalUtil.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/utils/MailUtils.java
Labels: bug, Server, MEM

#163 [Client][FIX] 키워드 검색 시 변경된 위경도가 반영되지 않는 이슈 해결
  client/src/components/map/SearchTools.tsx
Labels: bug, Client, MAP

#164 [Server][Fix] 리프레쉬 토큰이 만료되면 로그아웃 처리(쿠키 삭제)
  server/src/main/java/com/server/domain/token/controller/TokenController.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
Labels: bug, Server, MEM

#165 [Client/Server][FEAT] 상세보기 페이지 수정버튼 숨김, 마커 호버 이벤트 추가, 일지 작성 추가 및 기타 코드 수정
  client/src/components/common/Header.tsx
  client/src/components/common/SharesButtons.tsx
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/NoRecord.tsx
  client/src/components/map/RecordOverray.tsx
  client/src/components/page-components/mytrip/MyTripCard.tsx
  client/src/pages/PlanDetailPage.tsx
Labels: feat, Client

#168 [Server][FEAT] 웹 푸쉬 초기 구현
  .github/workflows/aws.yml
  server/build.gradle
  server/src/main/java/com/server/ServerApplication.java
  server/src/main/java/com/server/domain/member/repository/MemberRepository.java
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateConstructor.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/config/FirebaseConfig.java
  server/src/main/java/com/server/global/test/controller/TestController.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/main/resources/log4j2.xml
Labels: Server

#172 [Server][FEAT] 회원 탈퇴, 회원이 없을 때 쿠키 삭제 및 컨벤션 적용
  server/src/main/java/com/server/domain/mail/controller/MailController.java
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/controller/MemberController.java
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/oauth/service/KakaoApiService.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/token/controller/TokenController.java
  server/src/main/java/com/server/domain/token/service/RefreshTokenService.java
  server/src/main/java/com/server/global/auth/error/AuthenticationError.java
  server/src/main/java/com/server/global/auth/filter/JwtVerificationFilter.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationEntryPoint.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationSuccessHandler.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutHandler.java
  server/src/main/java/com/server/global/auth/handler/logout/MemberLogoutSuccessHandler.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/jwt/JwtTokenizer.java
  server/src/main/java/com/server/global/auth/utils/AccessTokenRenewalUtil.java
  server/src/main/java/com/server/global/auth/utils/OAuth2TokenUtils.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/utils/MailUtils.java
Labels: bug, feat, Server, MEM

#175 [Client][FIX] UI 개선
  client/public/marker/marker0.webp
  client/public/marker/marker1.webp
  client/public/marker/marker10.webp
  client/public/marker/marker11.webp
  client/public/marker/marker12.webp
  client/public/marker/marker13.webp
  client/public/marker/marker14.webp
  client/public/marker/marker2.webp
  client/public/marker/marker3.webp
  client/public/marker/marker4.webp
  client/public/marker/marker5.webp
  client/public/marker/marker6.webp
  client/public/marker/marker7.webp
  client/public/marker/marker8.webp
  client/public/marker/marker9.webp
  client/src/MypageLayout.tsx
  client/src/components/atom/Input.tsx
  client/src/components/atom/Paragraph.tsx
  client/src/components/common/Avatar.tsx
  client/src/components/common/Confirm.tsx
  client/src/components/common/Dialog/DialogButtonGroup.tsx
  client/src/components/common/DropDownMenus.tsx
  client/src/components/common/Header.tsx
  client/src/components/helper/MypageSideNav.tsx
  client/src/components/map/CategoryButtonGroup.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/SearchTools.tsx
  client/src/components/schedule/TripSchedule.tsx
  client/src/datas/menus.tsx
  client/src/main.tsx
  client/src/pages/Bookmark.tsx
  client/src/pages/FootPrintPage.tsx
  client/src/pages/Home.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanPage.tsx
  client/src/pages/SignOutPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/styles/animation.css
Labels: bug, Client

#177 [Client][BugFix] 일정 공유 링크 수정
  client/src/components/common/SharesButtons.tsx
  client/src/components/common/modals/WriteModal.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/MenuButtons.tsx
  client/src/components/page-components/mytrip/MyTripCard.tsx
  client/src/components/page-components/plan-detail/NoRecord.tsx
  client/src/components/page-components/plan-detail/Record.tsx
  client/src/components/page-components/plan-detail/RecordPanel.tsx
  client/src/components/schedule/TripSchedule.tsx
  client/src/hooks/useHoverTimer.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanSharePage.tsx
Labels: bug, Client

#178 [Client][Fix] 일정 공유 링크 재수정
  client/src/components/common/SharesButtons.tsx
  client/src/components/common/modals/WriteModal.tsx
  client/src/hooks/useScroll.tsx
  client/src/pages/PlanSharePage.tsx
Labels: bug, Client

#179 [Client][Fix] 일정 공유 링크 재재재수정
  client/src/components/common/SharesButtons.tsx
Labels: bug, Client

#182 [Client][BUG] 지도 관련 페이지에서 `,`, `0` 렌더링되는 버그 수정
  client/src/components/common/modals/WriteModal.tsx
  client/src/components/map/Map.tsx
  client/src/hooks/useScroll.tsx
  client/src/main.tsx
  client/src/styles/global.css
Labels: bug, Client

#183 [Client][FEAT] 나의 발자취 페이지
  client/public/markers/marker.svg
  client/src/components/helper/MypageSideNav.tsx
  client/src/components/map/InfoWindow/InfoWindow.tsx
  client/src/components/map/Map.tsx
  client/src/pages/FootPrintPage.tsx
  client/src/queries/mytrip/useVisitedPlacesQuery.tsx
Labels: feat, Client, MAP

#186 [Clinent][BUG] api 명세 변경으로 빈 화면 레더링 이슈 해결
  client/src/components/common/ImageSlider.tsx
  client/src/components/common/TextContent.tsx
  client/src/components/map/Map.tsx
  client/src/components/page-components/plan-detail/NoRecord.tsx
  client/src/components/page-components/plan-detail/Record.tsx
  client/src/components/page-components/plan-detail/RecordImage.tsx
  client/src/components/page-components/plan-detail/RecordPanel.tsx
  client/src/components/schedule/TripInfo.tsx
  client/src/components/schedule/TripSchedule.tsx
  client/src/contexts/MapDetailProvider.tsx
  client/src/pages/FootPrintPage.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanSharePage.tsx
  client/src/queries/RecordAPI.ts
  client/src/queries/plan/usePlanMutation.tsx
  client/src/queries/plan/usePlanQuery.tsx
  client/src/queries/plan/useSharePlanQuery.tsx
  client/src/types/api/schedules-types.ts
  client/src/utils/date/getFromNow.ts
  client/src/utils/date/index.ts
Labels: bug, Client, refactor

#187 [Server][Refactor] 일정 리팩토링 및 테스트 코드 추가
  server/build.gradle
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/member/dto/MemberDto.java
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/member/repository/MemberRepository.java
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/repository/KakaoTokenRepository.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateConstructor.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateObject.java
  server/src/main/java/com/server/domain/place/dto/PlaceDto.java
  server/src/main/java/com/server/domain/place/dto/PlaceResponse.java
  server/src/main/java/com/server/domain/place/entity/Place.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/repository/PlaceRepository.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/push/controller/PushController.java
  server/src/main/java/com/server/domain/push/dto/PushDto.java
  server/src/main/java/com/server/domain/push/entity/Push.java
  server/src/main/java/com/server/domain/push/mapper/PushMapper.java
  server/src/main/java/com/server/domain/push/repository/PushRepository.java
  server/src/main/java/com/server/domain/push/service/PushService.java
  server/src/main/java/com/server/domain/record/ImageManager.java
  server/src/main/java/com/server/domain/record/controller/RecordController.java
  server/src/main/java/com/server/domain/record/dto/RecordDto.java
  server/src/main/java/com/server/domain/record/mapper/RecordMapper.java
  server/src/main/java/com/server/domain/region/service/RegionService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleDto.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleResponseWithRecord.java
  server/src/main/java/com/server/domain/schedule/dto/ScheduleShareResponse.java
  server/src/main/java/com/server/domain/schedule/entity/SchedulePlace.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/mapper/SchedulePlaceMapper.java
  server/src/main/java/com/server/domain/schedule/service/SchedulePlaceService.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/global/auth/handler/login/MemberAuthenticationFailureHandler.java
  server/src/main/java/com/server/global/batch/BatchScheduler.java
  server/src/main/java/com/server/global/batch/job/ChunkConfig.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/java/com/server/global/test/controller/TestController.java
  server/src/main/java/com/server/global/utils/AuthUtil.java
  server/src/main/resources/application.yml
  server/src/main/resources/templates/test.html
  server/src/test/java/com/server/helper/StubData.java
  server/src/test/java/com/server/member/controller/MemberControllerTest.java
  server/src/test/java/com/server/place/controller/PlaceControllerTest.java
  server/src/test/java/com/server/record/controller/RecordControllerTest.java
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: Server, refactor

#188 [Client][BUG] dayjs timeago 관련 build 충돌 해결
  client/src/components/page-components/plan-detail/Record.tsx
  client/src/components/schedule/TripSchedule.tsx
  client/src/hooks/useHoverTimer.tsx
  client/src/utils/date/getFromNow.ts
Labels: bug, Client

#189 [Client][BUG] 일정 상세보기 페이지 전환 시 일지 모달이 남아 있는 버그 및 자잘한 버그 수정
  client/src/components/helper/MypageSideNav.tsx
  client/src/components/map/Map.tsx
  client/src/components/map/MenuButtons.tsx
  client/src/components/page-components/plan-detail/RecordPanel.tsx
  client/src/contexts/MapDetailProvider.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanMapPage.tsx
  client/src/pages/PlanPage.tsx
  client/src/pages/PlanSharePage.tsx
  client/src/queries/RecordAPI.ts
  client/src/queries/auth/useGetAccessTokenQuery.tsx
  client/src/queries/plan/usePlanMutation.tsx
  client/src/queries/plan/usePlanQuery.tsx
  client/src/queries/plan/useSharePlanQuery.tsx
  client/src/utils/fcm.ts
Labels: bug, Client

#190 [Client][FEAT] 회원 정보 수정 기능
  client/src/components/forms/MyPageEditInput.tsx
  client/src/components/forms/MypageForm.tsx
  client/src/components/forms/SignupForm.tsx
  client/src/components/map/MenuButtons.tsx
  client/src/pages/MyPage.tsx
  client/src/queries/auth/useEditUserMutation.tsx
  client/src/queries/auth/useInquireUsersQuery.tsx
  client/src/schema/editUserSchema.ts
Labels: feat, MEM, Client

#191 [Client][FIX] PlanPage 컨텐츠가 왼쪽에 배치되는 이슈 해결
  client/src/pages/PlanPage.tsx
Labels: bug, Client

#192 [Server][FEAT] 공유 링크 생성 api 추가
  .github/workflows/aws.yml
  server/src/main/java/com/server/domain/member/entity/Member.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateConstructor.java
  server/src/main/java/com/server/domain/push/controller/PushController.java
  server/src/main/java/com/server/domain/push/entity/Push.java
  server/src/main/java/com/server/domain/push/service/PushService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/mapper/SchedulePlaceMapper.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/global/config/SecurityConfig.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/java/com/server/global/test/controller/TestController.java
  server/src/main/resources/application-test.yml
  server/src/main/resources/application.yml
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: feat, Server

#193 [Client/Server][FEAT] 일정 상세보기 공유링크 해싱 적용
  client/index.html
  client/package-lock.json
  client/package.json
  client/src/assets/icons/map-marker.svg
  client/src/components/common/SharesButtons.tsx
  client/src/components/common/TextContent.tsx
  client/src/components/map/Map.tsx
  client/src/components/page-components/plan-detail/NoRecord.tsx
  client/src/components/page-components/plan-detail/Record.tsx
  client/src/components/page-components/plan-detail/RecordPanel.tsx
  client/src/contexts/MapDetailProvider.tsx
  client/src/hooks/usePreventZoom.tsx
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanSharePage.tsx
  client/src/queries/RecordAPI.ts
  client/src/queries/plan/useSharePlanQuery.tsx
  client/src/types/api/records-types.ts
  client/src/utils/getPlaceNameScheduleInfo.ts
  client/src/utils/index.ts
  client/yarn.lock
Labels: bug, Client

#194 [Client][BUG] 일정 공유 링크 해싱 적용 머지 build 충돌 해결
  client/src/components/common/MyrecordImg.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/types/api/records-types.ts
Labels: bug, Client

#195 [Client][FIX] 편집 모드에서 장소 추가 시 사이드 패널에 반영되지 않는 버그 해결
  client/src/components/schedule/accordion-content/DndContents.tsx
Labels: bug, Client

#198 [Client][CHORE] zoom in, out 방지 태그 제거
  client/index.html
  client/src/components/common/modals/WriteModal.tsx
  client/src/components/map/Map.tsx
  client/src/components/page-components/plan-detail/RecordPanel.tsx
  client/src/contexts/MapDetailProvider.tsx
  client/src/queries/ScheduleAPI.ts
  client/src/queries/auth/useLoginMutation.tsx
  client/src/queries/record/useGetRecords.tsx
  client/src/utils/getPlaceNameScheduleInfo.ts
  client/src/utils/index.ts
Labels: Client, refactor

#200 [Client][DESIGN] 페이지 하단 패딩 추가
  client/src/components/common/DatePicker.tsx
  client/src/pages/MyPage.tsx
  client/src/pages/MyRecordPage.tsx
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanPage.tsx
  client/src/pages/SignOutPage.tsx
  client/src/pages/SignUpPage.tsx
Labels: Client, Page

#197 [Client][BugFix] 이메일 요청 두번 가는 문제 해결
  client/src/components/common/Header.tsx
  client/src/components/forms/SignupForm.tsx
  client/src/hooks/useFirstDebounce.tsx
  client/src/hooks/useFirstThrottle.tsx
  client/src/queries/auth/useEmailRequestMutation.tsx
Labels: bug, Client

#209 [Client][Bug] 일정 생성 시 하루 밀리는 버그 수정
  client/src/pages/PlanPage.tsx
  client/src/utils/date/syncDate.ts
Labels: bug, Client

#211 [Client][FIX] date picker 개선
  client/package.json
  client/src/components/common/DatePicker.tsx
  client/src/pages/PlanPage.tsx
  client/src/types/api/schedules-types.ts
  client/src/utils/date/getNextDate.ts
  client/src/utils/date/syncDate.ts
  client/yarn.lock
Labels: bug, Client

#213 [Client][Refector] d-day 계산 함수 리팩토링
  client/src/components/page-components/mytrip/MyTripCard.tsx
  client/src/utils/date/getDday.ts
  client/src/utils/date/index.ts
Labels: Client, refactor

#215 [Client][FIX] 로그인하지 않은 상태에서 드롭다운 메뉴가 노출되는 이슈 해결
  client/src/components/common/Header.tsx
Labels: bug, Client, Page

#220 [Client][FEAT][FIX] 계획 작성 페이지 UX 향상, 편집 완료하기 버튼 여러 번 클릭 대응
  client/src/components/map/SearchTools.tsx
  client/src/components/schedule/TripSchedule.tsx
Labels: bug, enhancement, Client, MAP

#224 [Client][BugFix] 나의 일정에서 일정 카드 내 빈 공백 클릭 시 일정 이름 변경 모달창 뜨는 현상 fix
  client/src/components/page-components/mytrip/GridItem.tsx
Labels: bug, Client

#225 [Client][FIX] 소셜 로그인 유저의 비밀번호 변경 기능 삭제 및 리팩토링
  client/src/components/common/Header.tsx
  client/src/components/forms/ChangeNicknameForm.tsx
  client/src/components/forms/ChangePasswordForm.tsx
  client/src/components/forms/CheckPasswordInput.tsx
  client/src/components/forms/MypageForm.tsx
  client/src/pages/MyPage.tsx
  client/src/queries/auth/useChangeNicknameMutation.tsx
  client/src/queries/auth/useChangePasswordMutation.tsx
  client/src/queries/auth/useEditUserMutation.tsx
  client/src/queries/auth/useInquireUsersQuery.tsx
  client/src/schema/changeNicknameSchema.ts
  client/src/schema/changePasswordSchema.ts
  client/src/types/api/users-types.ts
Labels: bug, Client

#227 [Client][BugFix] 나의 일정 페이지에서 일정 수정 후 '여행장소' 리렌더링 되지 않은 현상 수정
  client/src/pages/MyTripPage.tsx
  client/src/pages/PlanMapPage.tsx
Labels: bug, Client

#229 [Client][FIX] 인포윈도우가 계속 남아있는 버그 해결
  client/src/pages/PlanDetailPage.tsx
  client/src/pages/PlanMapPage.tsx
Labels: bug, Client

#230 [Client][FEAT] 기프티콘 이벤트
  client/package.json
  client/public/present.webp
  client/src/main.tsx
  client/src/pages/EventPage.tsx
  client/src/pages/Home.tsx
  client/src/queries/useEventQuery.tsx
  client/src/styles/animation.css
  client/yarn.lock
Labels: feat, Client

#234 [Server][FEAT] 이벤트 코드 추가 및 알림 템플릿 리팩토링(팀원님들 다들 고생했덩)
  .github/workflows/aws.yml
  server/build.gradle
  server/src/main/java/com/server/domain/mail/service/MailService.java
  server/src/main/java/com/server/domain/oauth/service/KakaoApiService.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplate.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateConstructor.java
  server/src/main/java/com/server/domain/oauth/template/KakaoTemplateObject.java
  server/src/main/java/com/server/domain/place/mapper/PlaceMapper.java
  server/src/main/java/com/server/domain/place/service/PlaceService.java
  server/src/main/java/com/server/domain/push/controller/PushController.java
  server/src/main/java/com/server/domain/push/entity/Push.java
  server/src/main/java/com/server/domain/push/mapper/PushMapper.java
  server/src/main/java/com/server/domain/push/repository/PushRepository.java
  server/src/main/java/com/server/domain/push/service/PushService.java
  server/src/main/java/com/server/domain/push/template/PushTemplate.java
  server/src/main/java/com/server/domain/push/template/PushTemplateConstructor.java
  server/src/main/java/com/server/domain/record/service/S3StorageService.java
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/mapper/ScheduleMapper.java
  server/src/main/java/com/server/domain/schedule/mapper/SchedulePlaceMapper.java
  server/src/main/java/com/server/domain/schedule/service/SchedulePlaceService.java
  server/src/main/java/com/server/domain/schedule/service/ScheduleService.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/auth/userdetails/CustomOAuth2UserService.java
  server/src/main/java/com/server/global/batch/job/ChunkConfig.java
  server/src/main/java/com/server/global/event/controller/EventController.java
  server/src/main/java/com/server/global/event/dto/EventResponse.java
  server/src/main/java/com/server/global/event/dto/Notice.java
  server/src/main/java/com/server/global/event/entity/Gift.java
  server/src/main/java/com/server/global/event/mapper/GiftMapper.java
  server/src/main/java/com/server/global/event/repository/GiftRepository.java
  server/src/main/java/com/server/global/event/service/EventService.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/java/com/server/global/file/FileController.java
  server/src/main/java/com/server/global/file/FileService.java
  server/src/main/java/com/server/global/init/Init.java
  server/src/main/java/com/server/global/test/controller/TestController.java
  server/src/main/java/com/server/global/utils/CustomRandom.java
  server/src/main/resources/application.yml
  server/src/main/resources/templates/event.html
  server/src/main/resources/templates/test.html
  server/src/test/java/com/server/schedule/controller/ScheduleControllerTest.java
Labels: feat, Server

#235 [Server][FEAT] 카카오 토큰 재발급 및 카카오 회원탈퇴 시 연결서비스 해제
  server/src/main/java/com/server/domain/member/service/MemberService.java
  server/src/main/java/com/server/domain/oauth/entity/KakaoToken.java
  server/src/main/java/com/server/domain/oauth/repository/KakaoTokenRepository.java
  server/src/main/java/com/server/domain/oauth/service/KakaoApiService.java
  server/src/main/java/com/server/domain/oauth/service/KakaoTokenOauthService.java
  server/src/main/java/com/server/global/auth/handler/oauth/OAuth2SuccessHandler.java
  server/src/main/java/com/server/global/exception/ExceptionCode.java
  server/src/main/resources/application.yml
Labels: bug, feat, Server, MEM

#236 [Server][FIX] 테스트 에러 해결
  server/src/main/java/com/server/domain/oauth/service/KakaoApiService.java
Labels: bug, Server, MEM

#241 [Server][Fix] 일정 등록 방식 복구
  .github/workflows/aws.yml
  server/src/main/java/com/server/domain/schedule/controller/ScheduleController.java
  server/src/main/java/com/server/domain/schedule/service/SchedulePlaceService.java
Labels: Server, Fix

#243 [Server][Chore] 배포 설정
  appspec.yml
  scripts/debug.sh
  scripts/deploy.sh
  server/build.gradle
  server/src/main/resources/application.yml
Labels: Server

#244 [Server][Chore] 로깅 설정
  .github/workflows/aws.yml
  client/.eslintrc.json
  client/.gitignore
  client/.prettierrc
  client/README.md
  client/index.html
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/src/App.css
  client/src/App.tsx
  client/src/components/atom/Button.tsx
  client/src/components/common/Footer.tsx
  client/src/components/common/Header.tsx
  client/src/components/common/Providers.tsx
  client/src/components/helper/HelpGilzong.tsx
  client/src/components/map/Map.tsx
  client/src/contexts/context.tsx
  client/src/hooks/useLogin.tsx
  client/src/index.css
  client/src/main.tsx
  client/src/pages/Home.tsx
  client/src/pages/LoginPage.tsx
  client/src/pages/SignUpPage.tsx
  client/src/stores/store.ts
  client/src/styles/global.css
  client/src/types/type.ts
  client/src/utils/util.js
  client/src/vite-env.d.ts
  client/tailwind.config.js
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  client/yarn.lock
  scripts/debug.sh
  scripts/deploy.sh
  server/build.gradle
  server/image1.png
  server/image2.png
  server/image3.png
  server/src/main/java/com/server/global/log/LogController.java
  server/src/main/java/com/server/global/log/RequestLoggingAspect.java
  server/src/main/java/com/server/global/log/controller/LogController.java
  server/src/main/java/com/server/global/log/service/LogService.java
  server/src/main/resources/application.yml
  server/src/main/resources/log4j2.xml
  server/src/main/resources/log4j2.yml
Labels: Server
